/* pc width > 1100px */
html {
	font-size: 20px;
}
/* ipad pro */
@media screen and (max-width: 1024px) {
	html {
		font-size: 20px;
	}
}
/* ipad */
@media screen and (max-width: 768px) {
	html {
		font-size: 14px;
	}
}
/* iphone6 7 8 plus */
@media screen and (max-width: 414px) {
	html {
		font-size: 14px;
	}
}
/* iphoneX */
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 3) {
	html {
		font-size: 12px;
	}
}
/* iphone5 6 7 8 */
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 2) {
	html {
		font-size: 10px;
	}
}
